<div class="container">
    <div class="header">
        <div style="width: 22%;">
            <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
        </div>
        <span class="mr-auto"></span>
        <ngx-skeleton-loader count="3" appearance="circle"></ngx-skeleton-loader>
    </div>
    <div class="description">
        <div style="width: 50%;">
            <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
        </div>
        <div style="width: 40%">
            <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
        </div>

    </div>
    <div class="footer">
        <span class="mr-auto"></span>
        <div style="width: 15%;"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></div>
        <div style="width: 15%;"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></div>
    </div>
</div>
