<div class="ticket">
    <div class="title">
        <h2>Ticket #{{ ticket?.id }}</h2>
        <span class="mr-auto"></span>
        <ngx-avatar [name]="assigned?.name" [size]="35" *ngIf="ticket?.assigneeId"></ngx-avatar>
    </div>
   <div class="description">
       <span>{{ ticket?.description }}</span>
   </div>
    <div class="footer">
        <span class="mr-auto"></span>
        <button mat-button routerLink="/{{ticket?.id}}">
            Detail
            <mat-icon>visibility</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
            Assign
            <mat-icon>assignment_ind</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <mat-selection-list (selectionChange)="updateAssignment($event)">
                <mat-list-option *ngFor="let user of _users" [selected]="user?.id === assigned?.id" [value]="user">
                    <ngx-avatar matListAvatar [size]="35" [name]="user?.name"></ngx-avatar>
                    <span matLine>{{user?.name}}</span>
                </mat-list-option>
            </mat-selection-list>
        </mat-menu>
    </div>
</div>