ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.head-title {
  display: flex;
  column-gap: 1em;
}

.content {
  display: flex;
  gap: 2em;
  width: 100%;
  height: 84vh;
  overflow: scroll;

  .ticket-list, .ticket-completed {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    width: 100%;
    padding: 1em;
  }
}
