<span class="mat-display-1">New ticket</span>
<form [formGroup]="ticketForm">
    <mat-form-field [appearance]="'outline'">
        <mat-label>Description</mat-label>
        <textarea [readonly]="submitting" name="description" [matTextareaAutosize]="true" matInput formControlName="description"></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" type="button"
            [disabled]="!ticketForm.valid || submitting"
            (click)="submit()"
    >ADD</button>
    <mat-progress-bar *ngIf="submitting" color="primary" mode="indeterminate"></mat-progress-bar>

</form>