/* You can add global styles to this file, and also import other style files */

/* Import Angular material theme */
@import "~@angular/material/prebuilt-themes/indigo-pink";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}